.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
*.iml
/app/build/generated
/app/build/intermediates
/app/build/outputs/logs
/app/build/outputs/apk/app-debug-unaligned.apk
/app/build/tmp
.idea
/.idea
